font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular */

    font-family: 'LearningCurveBold';


    src: url('learning_curve_bold_ot_tt.ttf') format('truetype')

}


h1 /* Utilisation de la police qu'on vient de définir sur les titres */

{

    font-family: 'LearningCurveBold', Arial, serif;

}
